{
  "openapi": "3.0.0",
  "info": {
    "title": "REST Countries API",
    "description": "API for obtaining information about countries.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://restcountries.com/v3.1"
    }
  ],
  "paths": {
    "/all": {
      "get": {
        "summary": "Get All Countries",
        "description": "Retrieve a list of all countries.",
        "responses": {
          "200": {
            "description": "A list of all countries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/name/{name}": {
      "get": {
        "summary": "Get Country by Name",
        "description": "Retrieve information about a country by its name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The name of the country."
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the specified country",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Country": {
        "type": "object",
        "properties": {
          "name": {
            "type": "object",
            "properties": {
              "common": { "type": "string" },
              "official": { "type": "string" }
            }
          },
          "capital": {
            "type": "array",
            "items": { "type": "string" }
          },
          "region": { "type": "string" },
          "subregion": { "type": "string" },
          "population": { "type": "integer" },
          "flag": { "type": "string" }
        }
      }
    }
  }
}
